@import "../../styles/tools/mixins/titleFont.scss";


.content {
  margin-top: 96px;
  margin-bottom: 24px;

  @include titleFontL;
  color: var(--primary-blue);

  @include media($tablet) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media($laptop) {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media($desktop) {
    margin-top: 128px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}