@import "../../styles/mixins/titleFont.scss";
@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/media.scss";

/**
  NOTA
  Este componente está pensado para wrappear el componente H3 y está
  muy acoplado a este
*/

.wrapper {
  position: relative;

  margin-top: 96px;
  margin-bottom: 24px;

  @include media($desktop) {
    margin-top: 128px;
  }

  /* Eliminamos el espaciado vertical del h2 para poder posicionar el número */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media($tablet) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    h3 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include media($largeTablet) {
    width: 100%;

    h3 {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.number {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 108px;

  color: $background-default;
  @include titleFontXXL;

  background-image: url("/icons/red-hexagon.svg");
  background-repeat: no-repeat;

  @include media($largeTablet) {
    margin-bottom: 0;
    position: absolute;
  }

  @include media($desktop) {
    padding-left: 15%;
    padding-right: 54px;
    background-position-x: right;
  }
}
