@import "../../styles/mixins/media.scss";

.wrapper {
  width: 100%;
  margin-top: 96px;
  margin-bottom: 96px;

  @include media($desktop) {
    margin-top: 128px;
    margin-bottom: 128px;
  }

  p {
    img {
      width: 100%;
      height: auto;

      &:nth-child(1) {
        @include media($largeTablet) {
          display: none;
        }
      }

      &:nth-child(2) {
        display: none;

        @include media($largeTablet) {
          display: initial;
        }
      }
    }
  }
}
