@import "../../tools/mediaQueries.scss";
@import '../../tools/functions.scss';

$xl: 96px, 88px, 48px;
$l: 88px, 72px, 36px;

@mixin displayFontXL() {
  font-family: "Raleway";
  font-size: #{toRem(48)};
  line-height: 100%;

  @include media($tablet) {
    font-size: #{toRem(88)};
  }

  @include media($desktop) {
    font-size: #{toRem(96)};
  }
}

@mixin displayFontL() {
  font-family: "Raleway";
  font-size: #{toRem(36)};
  line-height: 125%;

  @include media($tablet) {
    font-size: #{toRem(72)};
    line-height: 100%;
  }

  @include media($desktop) {
    font-size: #{toRem(88)};
  }
}