@import "../mediaQueries.scss";

@mixin gridLayout {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--grid-mobile-gutter-gap);

  @media #{$onlyTablet} {
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--grid-gutter-gap);
  }

  @media #{$fromLaptop} {
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gutter-gap);
  }

}