@import "../../styles/tools/mixins/textFont.scss";

@import "../../styles/tools/mediaQueries.scss";

.wrapper {
  margin-bottom: 24px;
  padding-left: 24px;

  @include media($tablet) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media($laptop) {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media($desktop) {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    position: relative;
    padding-left: 24px;

    @include textFontS;
    color: var(--secondary-grey);

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &::before {
      position: absolute;
      left: -24px;
      top: 2px;
      content: url("/icons/bullet-arrow.svg");
    }
  }
}