@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/textFont.scss";

.wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  list-style: disc;

  li {
    @include textFontM;
    color: $secondary-grey;

    list-style-position: inside;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
