@import "../../styles/mixins/titleFont.scss";
@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/media.scss";

.content {
  margin-top: 96px;
  margin-bottom: 24px;

  @include titleFontXL;
  color: $primary-blue;

  @include media($tablet) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media($largeTablet) {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media($desktop) {
    margin-top: 128px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
