@import "../../styles/mixins/titleFont.scss";
@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/media.scss";

.content {
  margin-top: 96px;
  margin-bottom: 24px;

  @include titleFontXL;
  color: $primary-blue;

  @include media($desktop) {
    margin-top: 128px;
    width: 66%;
  }
}
