@import "../../styles/mixins/titleFont.scss";
@import "../../styles/mixins/colors.scss";

.content {
  width: 75%;
  margin-top: 128px;
  margin-bottom: 128px;

  @include titleFontXL;
  color: $primary-blue;
}
