@import "../../styles/tools/mediaQueries.scss";
@import "../../styles/tools/mixins/container.scss";
@import "../../styles/tools/mixins/gridLayout.scss";
@import "../../styles/tools/functions.scss";

.mainContent {
  position: relative;
  @include container;
}

.backgroundBlur {
  position: absolute;
  top: 900px;
  right: -150px;
  transform: rotate(173deg);

  @media #{$fromTablet} {
    top: 860px;
    left: -150px;
    transform: none;
  }

  @media #{$fromLaptop} {
    top: 680px;
    left: -120px;
  }

  @media #{$fromDesktop} {
    top: 900px;
  }
}

.backgroundStar {
  position: absolute;
  top: 1640px;
  right: -380px;

  @media #{$fromTablet} {
    top: 1500px;
    right: -410px;
  }

  @media #{$fromLaptop} {
    top: 1200px;
    right: -300px;
  }

  @media #{$fromDesktop} {
    top: 1500px;
  }
}

.wrapper {
  @include fullWidthContainer;

  background-color: var(--background-dark);
}

.articleContent {
  @include gridLayout;
  @include container;

  row-gap: var(--space-5xl);
  margin-bottom: var(--space-5xl);

  overflow: hidden;

  @media #{$fromDesktop} {
    row-gap: var(--space-6xl);
    margin-bottom: var(--space-6xl);
  }

  @media #{$onlyDesktopLarge} {
    overflow: visible;
  }

  * {
    color: var(
      --secondary-grey-jakala-global-color-secondary-grey-50
    ) !important;
  }
}

.articleFooter {
  @include gridLayout;
  margin-bottom: var(--space-5xl);

  @media #{$fromDesktop} {
    margin-bottom: var(--space-6xl);
  }
}

.bottomLinks {
  @include container;

  padding-top: var(--space-5xl);

  background-color: var(--background-default);

  @media #{$fromDesktop} {
    padding-top: var(--space-6xl);
  }
}

.nostalgy_authorship {
  color: var(--background-default);
}
.nostalgy_authorship__subtitle {
  margin-left: #{toRem(20)};

  color: var(--background-medium);
}
