@import "../../styles/tools/mediaQueries.scss";
@import "../../styles/tools/mixins/textFont.scss";

.imageText {
  grid-column: 1 / -1;

  @media #{$fromLaptop} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.imageContainer {
  flex: 1 0 50%;

  &>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  flex: 1 0 50%;
  padding: var(--space-3xl);

  @include textFontS;
  color: var(--content-body);
}

.title {
  @include textFontL;
  font-weight: 700;

  color: var(--background-primary-default);
}