@import '../../../styles/tools/mixins/outline.scss';

.downlandLink {
    color: var(--background-secondary-default);

    transition: color 0.2s ease-in-out;

    &:link,
    &:visited {
        color: var(--background-secondary-default);
    }

    &:hover {
        color: var(--background-secondary-default-hover);
    }

    &:focus-visible {
        @include outline;
    }
}