@import "../../styles/tools/mixins/titleFont.scss";
@import "../../styles/tools/mediaQueries.scss";

/**
  NOTA
  Este componente está pensado para wrappear el componente H3 y está
  muy acoplado a este
*/

.numberedSectionTitle {
  position: relative;

  margin-bottom: var(--space-l);

  @include titleFontL;
  color: var(--primary-blue);
}

.numberedSectionTitle_title {
  font-weight: 600;
}

.numberedSectionTitle_number {
  display: flex;
  align-items: center;
  justify-content: center;

  height: #{toRem(96)};
  width: #{toRem(84)};

  margin-bottom: var(--space-l);

  color: var(--background-default);
  @include titleFontXXL;

  background-image: url("/icons/red-hexagon.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @include media($tablet) {
    background-size: auto;

    height: #{toRem(128)};
    width: #{toRem(111)};
  }

  @include media($laptop) {
    position: absolute;
    left: #{toRem(-170)}; //Suma de el tamaño del hexagono(111px) y el spaciado (58px)
    margin-bottom: 0;
  }

  @include media($desktop) {
    background-position-x: right;
  }
}