@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/titleFont.scss";

.wrapper {
  width: 50%;
  padding-left: 32px;
  margin-top: 128px;
  margin-bottom: 128px;

  border-left: 4px solid $primary-blue;

  p {
    margin: 0;
    width: 100%;

    color: $primary-blue;
    @include titleFontXL;
    font-style: italic;

    &::before {
      content: "“";
    }
    &::after {
      content: "”";
    }
  }

  footer {
    color: $secondary-grey;

    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }
}
