@import "../../styles/tools/mediaQueries.scss";

.container {
  position: relative;

  padding-left: var(--b-grid-mobile-lateral-gap);
  padding-right: var(--b-grid-mobile-lateral-gap);
  margin: 0 auto;

  @include media($tablet) {
    padding-left: var(--b-grid-tablet-lateral-gap);
    ;
    padding-right: var(--b-grid-tablet-lateral-gap);
  }

  @include media($desktop) {
    padding-left: var(--b-grid-laptop-lateral-gap);
    padding-right: var(--b-grid-laptop-lateral-gap);
  }

  @include media($largeDesktop) {
    padding-left: 0;
    padding-right: 0;
    width: var(--b-grid-max-container);
  }
}