@import "../../styles/tools/mediaQueries.scss";
@import "../../styles/tools/mixins/displayFont.scss";
@import "../../styles/tools/mixins/titleFont.scss";
@import "../../styles/tools/mixins/textFont.scss";
@import '../../styles/tools/mixins/container.scss';
@import '../../styles/tools/mixins/outline.scss';
@import '../../styles/tools/mixins/gridLayout.scss';

.mainContent {
  @include container;
}

.articleFooter {
  @include gridLayout;
  margin-bottom: var(--space-5xl);

  @media #{$fromDesktop} {
    margin-bottom: var(--space-6xl);
  }
}

.authorship {
  grid-column: 1 / -1;

  @include textFontXS;
  color: var(--secondary-grey);

  @media #{$onlyTablet} {
    grid-column: 2 / -1;
  }

  @media #{$onlyLaptop} {
    grid-column: 3 / -1;
  }

  @media #{$fromDesktop} {
    grid-column: 4 / -1;
  }
}

.authorship__subtitle {
  margin-left:#{toRem(20)};

  color: var(--secondary-grey-500);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--space-l);
  margin-bottom: var(--space-3xl);

  background-color: var(--jakala-primitive-color-primary-blue-900);
  border-radius: var(--space-m);

  @include textFontS;
  color: var(--background-default);
  text-align: center;

  @include media($tablet) {
    padding: var(--space-4xl);
  }
}

.downloadLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);

  width: 100%;

  padding: var(--space-l);


  background: var(--background-secondary-default);
  border: none;
  border-radius: var(--space-6xl);

  @include textFontS;
  font-weight: bold;
  color: var(--background-default);

  transition: background 0.2s ease-in-out;

  &:focus {
    &:focus {
      @include outline;
    }
  }

  &:link,
  &:visited {
    color: var(--background-default);
  }

  &:hover {
    background: var(--background-secondary-default-hover);
  }

  @media #{$fromTablet} {
    width: fit-content;
  }

}

.caption {
  margin-bottom: var(--space-xl);

  color: var(--primary-blue);
  @include textFontXS;

  @media #{$fromDesktop} {
    margin-bottom: var(--space-4xl);
  }
}

.captionLink {
  text-decoration: underline;

  transition: color 0.2s ease-in-out;

  &:focus {
    @include outline;
  }

  &:link,
  &:visited {
    text-decoration: underline;
  }

  &:hover {
    color: var(--link-hover);
  }
}

.goToTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goToTopLink {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-xs);

  gap: var(--space-xs);

  color: var(--secondary-grey-500);

  &:link,
  &:visited {
    color: var(--secondary-grey-500);
  }

  &:focus {
    @include outline;
  }
}