@import "../../styles/tools/mediaQueries.scss";

.container {
    position: relative;

    padding-left: var(--grid-mobile-lateral-gap);
    padding-right: var(--grid-mobile-lateral-gap);
    margin: 0 auto;

    @media #{$onlyTablet} {
        padding-left: var(--grid-tablet-lateral-gap);
        padding-right: var(--grid-tablet-lateral-gap);
    }

    @media #{$fromLaptop} {
        padding-left: var(--grid-laptop-lateral-gap);
        padding-right: var(--grid-laptop-lateral-gap);
    }

    @media #{$onlyDesktopLarge} {
        padding-left: 0;
        padding-right: 0;
        width: var(--grid-max-container);
    }
}