@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/media.scss";
@import "../../styles/mixins/displayFont.scss";
@import "../../styles/mixins/textFont.scss";

.introSection {
  background-color: $background-primary-default;
}

.heroContainer {
  color: $background-default;
  background: url("/images/bg-small.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  @include media($tablet) {
    background: url("/images/bg-medium.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include media($largeTablet) {
    background: linear-gradient(
        to right,
        $background-primary-default 50%,
        transparent 50%
      ),
      url("/images/bg-medium.jpg") no-repeat;
    background-size: contain;
    background-position: right;
  }

  @include media($desktop) {
    background: linear-gradient(
        to right,
        $background-primary-default 50%,
        transparent 50%
      ),
      url("/images/bg-2xlarge.jpg") no-repeat center center;
    background-size: contain;
    background-position: right;
  }

  @include media($largeDesktop) {
    background: linear-gradient(
        to right,
        $background-primary-default 50%,
        transparent 50%
      ),
      url("/images/bg-2xlarge.jpg") no-repeat center center;
    background-size: contain;
    background-position: right;
  }
}

.link {
  text-decoration: underline;

  &:link,
  &:visited {
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $focus-outline;
  }

  &:hover {
    color: $background-secondary-default-hover;
  }
}

.heroWrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

.heroLogo {
  width: auto;
  height: 31px;

  @include media($desktop) {
    height: 42px;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media($largeTablet) {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.scrollText {
  display: flex;

  position: absolute;
  @include textFontS;
  text-transform: uppercase;
  bottom: 2%;
  right: 5%;

  > img {
    margin-top: 32px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  gap: 18px;
}

.heroLead {
  @include displayFontL;

  margin-bottom: 32px;
  font-weight: bold;

  @include media($tablet) {
    margin-bottom: 48px;
  }

  @include media($largeTablet) {
    width: 88%;
  }

  @include media($desktop) {
    width: 70%;
  }
}

.highlightHero {
  color: $content-highlight;
}

.highlight {
  color: $content-highlight;
  font-weight: bold;
}

.headerItems {
  display: none;

  @include media($tablet) {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 24px;
  }
}

.headerItem {
  display: flex;
  align-items: center;
  gap: 8px;

  > img {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    > img {
      transform: translateY(5px);
      transition: all 0.3s ease-in-out;
    }
  }

  &:focus {
    outline: 2px solid $focus-outline;
  }
}

.flexbox {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media($tablet) {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

.insightNumber {
  @include displayFontXL;
}

.insight {
  @include textFontM;
}

.callToAction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include textFontS;
  width: 100%;

  @include media($tablet) {
    margin-top: 48px;
    margin-bottom: 48px;
    width: fit-content;
  }

  padding: 24px;
  background: $background-secondary-default;
  border: none;
  border-radius: 128px;
  font-weight: bold;

  color: $background-default;
  margin-top: 32px;
  margin-bottom: 32px;

  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: $background-secondary-default-hover;
  }

  &:focus {
    outline: 2px solid $focus-outline;
  }
}

.detail {
  @include textFontXS;
}

.bulletpoint {
  margin-right: 12px;
}

.summary {
  position: relative;
  display: block;
  padding-top: 192px;
  color: $background-default;
  @include textFontM;
  overflow-x: hidden;

  z-index: 10;
}

.summaryImage {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: auto;

  z-index: -2;

  @include media($tablet) {
    top: 32%;
  }
}

.summaryWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.summaryFirstParagraph {
  margin-bottom: 128px;

  @include media($tablet) {
    margin-bottom: 156px;
    width: 70%;
  }

  @include media($largeTablet) {
    width: 50%;
  }

  @include media($largeDesktop) {
    margin-bottom: 192px;
  }

  z-index: 10;
}

.summaryBackgroundWrapper {
  position: relative;

  z-index: 1;
}

.summaryTitle {
  @include displayFontL;

  margin-bottom: 48px;
  text-transform: uppercase;

  @include media($tablet) {
    margin-left: 96px;
  }
}

.summarySecondParagraph {
  margin-bottom: 36px;

  @include media($tablet) {
    width: 55%;
  }

  @include media($desktop) {
    width: 50%;
  }

  @include media($largeDesktop) {
    width: 40%;
  }
}

.listWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;

  padding-bottom: 96px;

  z-index: 10;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  @include media($tablet) {
    width: 60%;
  }

  @include media($desktop) {
    width: 40%;
  }
}

.listBox {
  padding: 28px 32px;
  background-color: $background-default;
  border-radius: 16px;
  @include textFontM;
}

.listTitle {
  color: $background-primary-default;
  text-transform: uppercase;
}

.listDescription {
  margin-top: 8px;
  color: $content-body;
  @include textFontXS;
}

.collectionTitle {
  margin-bottom: 32px;
  margin-top: 96px;

  color: $background-primary-default;

  @include displayFontL;
  @include media($tablet) {
    margin-bottom: 48px;
    margin-left: 96px;
  }
}

.collectionDescription {
  margin-bottom: 32px;

  @include textFontM;
  @include media($tablet) {
    margin-bottom: 48px;
    margin-left: 96px;
  }
}

.collectionWrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  row-gap: 48px;

  margin-bottom: 96px;

  @include media($tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include media($desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.collectionItemImage {
  margin-bottom: 24px;
  border: 1px solid $background-medium;
  width: 100%;
}

.collectionItemTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 24px;

  color: $background-primary-default;
  text-transform: uppercase;

  border-bottom: 2px solid $background-primary-default;
}

.collectionItemTitleContent {
  display: flex;
  gap: 12px;

  @include textFontM;
}

.collectionDate {
  color: $content-light-body;
}

.collectionItemListTitle {
  @include textFontS;
  padding-top: 24px;
  margin-bottom: 8px;
  color: $background-primary-default;
}

.collectionItemListDescription {
  @include textFontXS;
  color: $content-body;
  padding-bottom: 16px;

  border-bottom: 2px solid $border;
}

.footer {
  @include textFontXS;

  padding-top: 96px;
  padding-bottom: 24px;

  background-color: $background-primary-default;
  color: $background-default;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;
}

.footerText {
  text-align: center;
}

.insightLink {
  display: inline;
  vertical-align: bottom;

  &:hover {
    color: #bf0808;
  }
}

.firstHexagon {
  top: -7%;
  left: 10%;
}

.secondHexagon {
  top: 17%;
  left: 80%;

  @include media($largeTablet) {
    left: 45%;
  }
}

.thirdHexagon {
  display: none;

  @include media($tablet) {
    display: block;
    top: 72%;
    left: 15%;
  }
}

.fourthHexagon {
  display: none;

  @include media($desktop) {
    display: block;
    top: 90%;
    left: 45%;
  }
}

.hexagon {
  position: absolute;
  height: 56px;

  @include media($tablet) {
    height: 96px;
  }

  @include media($desktop) {
    height: 128px;
  }

  z-index: -1;
}

.reveal {
  transition: all 1s ease;
}

.download {
  color: $background-secondary-default;

  transition: all 0.2s ease-in-out;

  &:link,
  &:visited {
    color: $background-secondary-default;
  }

  &:hover {
    color: $background-secondary-default-hover;
  }

  &:focus {
    outline: 2px solid $focus-outline;
  }
}
