@import "../../styles/tools/mediaQueries.scss";
@import "../../styles/tools/mixins/displayFont.scss";
@import "../../styles/tools/mixins/titleFont.scss";
@import "../../styles/tools/mixins/textFont.scss";
@import '../../styles/tools/mixins/outline.scss';
@import "../../styles/tools/mixins/gridLayout.scss";
@import "../../styles/tools/mixins/container.scss";

.introductionSection {
  background-color: var(--background-primary-default);
}

.hero {
  @include gridLayout;
  @include fullWidthContainerLateralPadding;

  padding-top: var(--space-5xl);

  min-height: 100dvh;
  width: 100%;

  color: var(--background-default);

  background: url("/images/bg-medium.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  @media #{$fromLaptop} {
    background: linear-gradient(to right,
        var(--background-primary-default) 50%,
        transparent 50%),
      url("/images/bg-medium.jpg") no-repeat;
    background-position: right;
    background-size: contain;
  }
}

.hero_content {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: calc(100vh - var(--space-6xl)); // Es necesario restar el padding que hemos dejado para la cabecera.

  @media #{$fromLaptop} {
    grid-column: 2 / 10;
  }

  @media #{$fromDesktop} {
    grid-column: 2 / 9;
  }
}

.scrollPage {
  display: none;

  @media #{$fromTablet} {
    position: absolute;
    bottom: 2%;
    right: 5%;

    display: flex;

    @include textFontS;
    text-transform: uppercase;

    >img {
      margin-top: var(--space-xl);

    }
  }
}

.pageTitle {
  @include displayFontL;

  margin-bottom: var(--space-xl);
  font-weight: 700;

  @media #{$fromTablet} {
    margin-bottom: var(--space-3xl);
  }
}

.caption {
  @include textFontXS;
}

.link {
  text-decoration: underline;
  transition: color 0.2s ease-in-out;

  &:link,
  &:visited {
    text-decoration: underline;
  }

  &:hover {
    color: var(--link-hover);
  }

  &:focus-visible {
    @include outline;
  }
}

.insight_info {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  @include media($tablet) {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-l);
  }

  @include media($desktop) {
    align-items: center;
  }
}

.insight_number {
  @include displayFontXL;
}

.insight_title {
  @include textFontM;
}

.insight_download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);

  padding: var(--space-l);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);

  width: 100%;

  background: var(--background-secondary-default);
  border: none;
  border-radius: var(--space-6xl);

  @include textFontS;
  font-weight: bold;
  color: var(--background-default);

  transition: background 0.2s ease-in-out;

  &:hover {
    background: var(--background-secondary-default-hover);
  }

  &:focus-visible {
    @include outline;
  }

  @media #{$fromTablet} {
    width: fit-content;
    margin-top: var(--space-3xl);
    margin-bottom: var(--space-3xl);
  }
}

.highlightedText {
  color: var(--content-highlight);
}