.heroWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: #040066;
}

.heroContent {
  width: 80%;
}

.heroLead {
  font-size: 72px;
  color: #ffffff;
}

.highlight {
  color: #ff8982;
}
