@import "../../styles/tools/mediaQueries.scss";
@import "../../styles/tools/mixins/displayFont.scss";
@import "../../styles/tools/mixins/textFont.scss";
@import "../../styles/tools/mixins/gridLayout.scss";
@import "../../styles/tools/mixins/container.scss";

.summary {
    @include gridLayout;
    @include fullWidthContainerLateralPadding;

    position: relative;

    padding-top: 192px;
    padding-bottom: var(--space-5xl);

    color: var(--background-default);
    background-color: var(--background-primary-default);

    @include textFontM;

    overflow-x: hidden;
    z-index: 10;
}

.summaryWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.summaryBackgroundWrapper {
    position: relative;

    z-index: 1;
}

.summaryImage {
    position: absolute;
    top: 29%;
    left: 50%;
    height: auto;
    width: auto;

    transform: translateX(-50%);
    z-index: -2;

    @include media($tablet) {
        top: 32%;
    }
}

.summaryFirstParagraph {
    margin-bottom: var(--space-6xl);

    @include media($tablet) {
        margin-bottom: 156px;
        width: 70%;
    }

    @include media($laptop) {
        width: 50%;
    }

    @include media($largeDesktop) {
        margin-bottom: 192px;
    }

    z-index: 10;
}

.summaryTitle {
    @include displayFontL;

    margin-bottom: var(--space-3xl);
    text-transform: uppercase;

    @include media($tablet) {
        margin-left: var(--space-5xl);
    }
}

.summarySecondParagraph {
    margin-bottom: 36px;

    @include media($tablet) {
        width: 55%;
    }

    @include media($desktop) {
        width: 50%;
    }

    @include media($largeDesktop) {
        width: 40%;
    }
}

.hexagon {
    position: absolute;
    height: 56px;

    @include media($tablet) {
        height: var(--space-5xl);
    }

    @include media($desktop) {
        height: var(--space-6xl);
    }

    z-index: -1;
}

.firstHexagon {
    top: -7%;
    left: 10%;
}

.secondHexagon {
    top: 17%;
    left: 80%;

    @include media($laptop) {
        left: 45%;
    }
}

.thirdHexagon {
    display: none;

    @include media($tablet) {
        display: block;
        top: 72%;
        left: 15%;
    }
}

.fourthHexagon {
    display: none;

    @include media($desktop) {
        display: block;
        top: 90%;
        left: 45%;
    }
}