@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/titleFont.scss";
@import "../../styles/mixins/media.scss";

.wrapper {
  width: 100%;
  height: auto;

  margin-top: 96px;
  margin-bottom: 96px;

  @include media($desktop) {
    margin-top: 128px;
    margin-bottom: 128px;
  }
}
