@import "../../styles/mixins/media.scss";

.wrapper {
  width: 100%;

  p {
    img {
      width: 100%;
      height: auto;

      &:nth-child(1) {
        @include media($largeTablet) {
          display: none;
        }
      }

      &:nth-child(2) {
        display: none;

        @include media($largeTablet) {
          display: initial;
        }
      }
    }
  }
}
