$background-default: #ffffff;
$background-medium: #b5b5b5;
$background-primary-default: #040066;
$background-primary-medium: #040ab2;
$background-secondary-default: #f00a0a;
$background-secondary-default-hover: #bf0808;

$content-highlight: #ff8982;
$content-body: #3e3e3e;
$content-light-body: #696969;

$border: #e8e8e8;
