@import "./media.scss";

$xl: 96px, 88px, 42px;
$l: 88px, 72px, 36px;

@mixin displayFontXL() {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 100%;

  @include media($tablet) {
    font-size: 88px;
  }

  @include media($desktop) {
    font-size: 96px;
  }
}

@mixin displayFontL() {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 100%;

  @include media($tablet) {
    font-size: 72px;
  }

  @include media($desktop) {
    font-size: 88px;
  }
}
