@import "./media.scss";

@mixin textFontM() {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 150%;

  @include media($tablet) {
    font-size: 24px;
  }
}

@mixin textFontS() {
  font-family: "Raleway";
  font-size: 18px;

  @include media($tablet) {
    font-size: 20px;
  }
}

@mixin textFontXS() {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 150%;

  @include media($tablet) {
    font-size: 16px;
  }
}
