@import '../../styles/tools/mixins/outline.scss';

wrapper {
  color: var(--background-secondary-default);
  text-decoration: underline;

  transition: color 0.2s ease-in-out;

  &:link,
  &:visited {
    color: var(--background-secondary-default);
    text-decoration: underline;
  }

  &:focus {
    @include outline;
  }

  &:hover {
    color: var(--background-secondary-default-hover);
  }
}