@import "../../styles/mixins/colors.scss";

.wrapper {
  color: $background-secondary-default;
  text-decoration: underline;

  transition: color 0.2s ease-in-out;

  &:link,
  &:visited {
    color: $background-secondary-default;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $focus-outline;
  }

  &:hover {
    color: $background-secondary-default-hover;
  }
}
